.order-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  position: relative;
  width: clamp(6rem, 80vw, 65vh);
  height: clamp(6rem, 80vw, 65vh);
  padding: 1rem 1rem 1rem;
  border: solid 2px #edd6d7;
}

h4 {
  font-family: 'Poppins', 'Sans Serif';
  font-weight: 200;
  font-size: clamp(1.5rem, 2.3vw, 6rem);
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.form-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.form-butt {
  outline: 0;
  border: 0;
  width: 6rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.7s cubic-bezier(0.67, 0.14, 0.3, 0.85);
}

.form-page {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s cubic-bezier(0.67, 0.14, 0.3, 0.85);
}

.form-page.current {
  /* display: flex; */
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
}

h5 {
  font-family: 'Poppins', 'Sans Serif';
  font-weight: 200;
}

.people-count {
  height: clamp(6rem, 75vw, 60vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3vw;
}

.head-count-input {
  height: clamp(.5rem, 1vw, 8rem);
  border-radius: 0.7rem;
  padding:.5rem .5rem;
  border: 0;
  background-color: rgb(239, 239, 239);
  position: absolute;
  font-size: clamp(.5rem, .7vw, 5rem);;
}

.head-count-input:focus {
  outline: solid 3px #edd6d7;
}

.size-selector {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 2vw, 4rem);
}

.size-header-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size-suggestion {
  font-size: clamp(1rem, 1vw, 4rem);
  text-align: center;
}

.count-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.size-boxes {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  text-align: center;
}

.flavor-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  text-align: center;
}

.flavor-selector {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.frosting-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.frosting-head {
  text-align: center;
}

.frosting-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.error {
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .2vw;
  padding: 0.5rem 0.5rem 0.5rem;
  border-radius: 0.3rem;
  color: rgb(235, 72, 72);
  background-color: rgb(247, 224, 224);
  font-size: clamp(1rem, 2vw, 1.4rem);
  transition: all 0.5s cubic-bezier(0.67, 0.14, 0.3, 0.85);
}

.design-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.design-box {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.design-head {
  text-align: center;
}

.design-input {
  width: 50%;
  height: clamp(7rem, 15vw, 30rem);
  border-radius: .5rem;
  padding: .5rem .5rem;
  border: solid 2px #edd6d7;
  resize: none;
}

.review-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1vw;
}

.cake-size {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1vw;
}

.cake-flavors {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1vw;
}

.tier-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.tier-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1vw;
}

.vis-error {
  visibility: visible;
}

.invis {
  visibility: hidden;
  position: absolute;
}

@media screen and (max-width: 800px) {
  .flavor-select:hover {
    transform: initial;
  }
}
